<f:layout name="Default" />

<f:section name="Title">Registrieren</f:section>

<f:section name="Content">
	<f:form method="post" action="register">
		<div class="row">
			<div class="large-3 columns">
				<label>Login Name:</label>
				<f:form.textfield
					name="loginName"
					value=""
					/>
			</div>
			<div class="large-3 columns">
				<label>Ingame Name:</label>
				<f:form.textfield
					name="gameNick"
					value=""
					/>
			</div>
			<div class="large-3 columns">
				<label>Passwort:</label>
				<f:form.textfield
					name="password"
					value=""
					/>
			</div>
			<div class="large-3 columns">
				<f:form.submit value="Registrieren" />
			</div>
		</div>
	</f:form>
</f:section>