<script src="{f:uri.resource(path: 'JavaScript/vendor/jquery.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.js')}"></script>

<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.abide.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.alerts.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.clearing.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.cookie.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.dropdown.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.forms.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.interchange.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.joyride.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.magellan.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.orbit.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.placeholder.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.reveal.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.section.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.tooltips.js')}"></script>
<script src="{f:uri.resource(path: 'JavaScript/foundation/foundation.topbar.js')}"></script>

<script>$(document).foundation();</script>

<script src="{f:uri.resource(path: 'JavaScript/gaw.js')}"></script>
