<!DOCTYPE html>
<html>
	<head>
		<title><f:render section="Title" /></title>
		<f:render partial="Layouts/Head" />
	</head>

	<body>

		<f:render partial="Layouts/Header" />

		<f:comment>
			Body
		</f:comment>
		<div class="row">
			<f:comment>
				Body
				This is source ordered to be pulled to the left on larger screens
			</f:comment>
			<div class="large-3 columns ">
				<div class="panel">
					<div class="section-container vertical-nav" data-section data-options="deep_linking: false; one_up: true">
						<section class="section">
							<h5 class="title">
								<f:link.action action="index" controller="Authentication">Login</f:link.action>
							</h5>
							<h5 class="title">
								<f:link.action action="index" controller="Registration">Registrierung</f:link.action>
							</h5>
						</section>
					</div>
				</div>
			</div>

			<f:comment>
				Main content
				This has been source ordered to come first in the markup (and on small devices)
				but to be to the right of the nav on larger screens
			</f:comment>
			<div class="large-9 columns">
				<f:flashMessages class="flashmessages" />
				<h2><f:render section="Title" /></h2>
				<f:render section="Content" />
			</div>
		</div>

		<f:render partial="Layouts/Footer" />

		<f:render partial="Layouts/FooterJavascript" />
	</body>
</html>