{namespace gaw=Lolli\Gaw\ViewHelpers}

<!DOCTYPE html>
<html>
	<head>
		<title><f:render section="Title" /></title>
		<f:render partial="Layouts/Head" />
	</head>

	<body>
		<div id="lolli-gaw-game">

			<f:comment>
				Head row
			</f:comment>
			<div class="row">
				<div class="large-12 columns">
					<hr />
				</div>
			</div>

			<div class="row">
				<div class="large-12 columns">
					<ul class="inline-list">
						<li>
							Eisen: {selectedPlanet.iron -> gaw:format.unit()}
						</li>
						<li>
							Silizium: {selectedPlanet.silicon -> gaw:format.unit()}
						</li>
						<li>
							Xenon: {selectedPlanet.xenon -> gaw:format.unit()}
						</li>
						<li>
							Hydrazin: {selectedPlanet.hydrazine -> gaw:format.unit()}
						</li>
						<li>
							Energie: {selectedPlanet.energy -> gaw:format.unit()}
						</li>
					</ul>
					<hr />
				</div>
			</div>


			<f:comment>
				Body
			</f:comment>
			<div class="row">

				<f:render partial="Game/MainMenu" arguments="{_all}"/>

				<f:comment>
					Main content
					This has been source ordered to come first in the markup (and on small devices)
					but to be to the right of the nav on larger screens
				</f:comment>
				<div class="large-9 columns">
					<f:flashMessages class="flashmessages" />
					<h2><f:render section="Title" /></h2>
					<f:render section="Content" />
				</div>
			</div>

			<f:render partial="Layouts/Footer" />

			<f:render partial="Layouts/FooterJavascript" />
		</div>
	</body>
</html>