{namespace gaw=Lolli\Gaw\ViewHelpers}

<f:layout name="Game" />

<f:section name="Title">
	<f:if condition="{selectedPlanet.name}">
		<f:then>
			Ausbau "{selectedPlanet.name}"
		</f:then>
		<f:else>
			Planetenausbau
		</f:else>
	</f:if>
</f:section>

<f:section name="Content">
	<table>
		<tr>
			<th>In Bau</th>
			<td>{selectedPlanet.structureInProgress}</td>
			<td>
				<f:if condition="{selectedPlanet.structureReadyTime}">
					<f:format.date forceLocale="de_DE" format="H:i:s">
						<f:format.printf arguments="{0: selectedPlanet.structureReadyTime}">@%1$d</f:format.printf>
					</f:format.date>
				</f:if>
			</td>
		</tr>

		<f:comment>
			<tr>
				<f:form action="renamePlanet" object="{selectedPlanet}" objectName="planet">
					<th>Name</th>
					<td><f:form.textfield property="name" id="name" /></td>
					<td><f:form.submit value="Umbenennen" /></td>
				</f:form>
			</tr>
		</f:comment>

		<tr>
				<th>Basis</th>
				<td>{selectedPlanet.base}</td>
				<td>
					<f:form action="buildBase" object="{selectedPlanet}" objectName="planet">
						<f:form.submit value="Ausbauen" />
					</f:form>
				</td>
		</tr>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="2">
					Techtree
				</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{structureTechTree}" as="requirements" key="structure">
				<tr>
					<td>
						<f:translate id="planet.{structure}" />
					</td>
					<td>
						<ul class="no-bullet no-margin-bottom">
							<f:for each="{requirements}" as="level" key="requirement">
								<f:if condition="{selectedPlanet -> gaw:property(propertyName: requirement)} < {level}">
								<f:then>
									<li>
										<f:translate id="planet.{requirement}" />
										<span class="techtree-not-available">[{level}]</span>
										<span class="techtree-available">[{selectedPlanet -> gaw:property(propertyName: requirement)}]</span>
									</li>
								</f:then>
								<f:else>
									<li>
										<f:translate id="planet.{requirement}" />
										<span class="techtree-available">[{level}]</span>
									</li>
								</f:else>
							</f:if>
						</f:for>
						</ul>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>